@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base;
	}
	h6 {
		@apply text-sm;
	}
}

code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2px;
	border-radius: 2px;
}

blockquote {
	border-left: 2px solid #ff0055;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.05);
}
